html {
  background-color: rgb(240, 241, 246); /*Also have to change color in "tab-content"*/
  overflow-y: scroll;
  overflow-x: hidden;
}
/* Centers the body so it doesn't get smooshed */
.all_wrap {
  margin-left:auto;
  margin-right:auto;
  width: 700px;
}
/* Gets rid of all underlines on links and keeps them blue */
a {
  text-decoration: none;
  color: blue;
  outline: 0;
}
/* Title header at top of page */
.header {
  border: solid 2px rgb(47, 49, 158);
  margin: -13px -380px -13px -380px;
  background-color: rgb(47, 49, 158);
  height: 60px;
  line-height: 5px;
  vertical-align: middle;
  z-index: 999999;
}
/* Font of Header title */
h3 {
  font-family: lato;
  text-align:center;
  color: white;
  font-size: 25px;
}
/* The gray bar under the Header */
.buffer {
  background-color:rgb(180, 181, 190);
  height: 13px;
  margin: -8px -100px;
}
/* Patient info above break line */
.patient_header {
  margin-top: 29px;
  font-family: sans-serif;
}
.patient-header-wrapper {
  float: left;
}
#patient_name {
  font-size: 20px;
}
#patient_id1 {
  padding: 10px;
  font-size: 18px;
}
#date {
  padding: 15px;
  font-size: 15px;
}
/* Break line */
hr {
  margin-bottom: 15px;
  margin-top: -2px;
  margin-left: -20px;
  margin: -2px -40px 15px -40px;
  margin-top: 70px;
  height:3px;
  border:none;
  color:#333;
  background-color:#333;
}
/* Hospital information at the bottome of page */
.bottom {
  text-align: center;
  margin-top: 15px;
  font: 14px sans-serif;
}
.bottom p {
  margin: 0px;
}
